
# Database URL for PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb"# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET= # Generate a secret key: `bunx --bun @better-auth/cli secret`
